@import 'conf';

html {
    font: 0, 625em;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: roboto;
    background-color: $lightGray;
}

button {
    background-color: $black;
    border-radius: 2rem;
    color: white;
    padding: 0.75rem 1rem;
}

#personnes {
    display: flex;
    padding-top: 5rem;
    width: 75%;
    margin: 0 auto;
    justify-content: space-between;
    flex-wrap: wrap;

    div {
        margin-top: 5rem;
        width: 17.625rem;
        height: 20.375rem;
        background-color: #FFFFFF;
        border-radius: 0.5rem;
        display: flex;
        flex-direction: column;
        box-shadow: 0px 8px 56px rgba(0, 0, 0, 0.25);
        position: relative;

        .overlay {
            position: absolute;
            bottom: 0%;
            background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 30%, rgba(255, 255, 255, 1) 50%);
            z-index: 2;
            width: 100%;
            height: 100%;
        }

        #photo {
            position: absolute;
            z-index: 1;
            width: 100%;
            height: 60%;
            border-radius: 0.5rem;
            filter: grayscale(100%);
        }

        #text {
            position: absolute;
            z-index: 3;
            margin-top: 50%;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            li {
                display: flex;
                align-items: center;

                img {
                    padding-right: 0.7rem;
                    ;
                }
            }
        }

        #name {
            font-weight: bold;
            font-size: 1.25rem;
        }

        #adresse {
            display: flex;
            flex-direction: row;

            ul {
                padding: 0rem;
            }
        }
    }

    #add {
        margin-top: 5rem;
        width: 17.625rem;
        height: 20.375rem;
        background-color: #FFFFFF;
        border-radius: 0.5rem;
        padding: 7rem;
        border: 0.0625rem dashed rgba(0, 0, 0, 0.16);
        box-sizing: border-box;
        border-radius: 0.5rem;
        display: flex;
        justify-content: center;
        filter: grayscale(100%);
    }
}

li {
    list-style: none;
}